@{
    ViewData["Title"] = "Início";
}

@model IEnumerable<WebApp.Models.UserDetail>;

<div class="d-flex flex-row flex-row-reverse">
    <button 
        type="button" 
        class="btn btn-primary btn-sm btn-new"
        data-toggle="modal"
        data-target="#form-modal">
        Novo
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Login</th>
            <th scope="col">E-mail</th>
            <th scope="col">Idade</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Login</td>
                <td>@user.Email</td>
                <td>@user.Age</td>
                <td class="options" id="@user.Id">
                    <span>
                        <partial name="Shared/EyeIcon" />
                    </span>
                    <span>
                        <partial name="Shared/PencilIcon" />
                    </span>
                    <span>
                        <partial name="Shared/TrashIcon" />
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal" class="modal fade" role="dialog" />

@section scripts{
    <script>
        $(function ()
        {
            $(".btn-new").click(function ()
            {
                $("#modal").load("FormModal", function ()
                {
                    $("#modal").modal();
                })
            });
        })
    </script>
}