@{
    ViewData["Title"] = "Início";
}

@model IEnumerable<WebApp.Models.UserDetail>;

<div class="d-flex flex-row flex-row-reverse">
   <a asp-page="/Home/New">Novo</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Login</th>
            <th scope="col">E-mail</th>
            <th scope="col">Idade</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Login</td>
                <td>@user.Email</td>
                <td>@user.Age</td>
                <td class="options" id="@user.Id">
                    @*<span>
                        <partial name="Shared/Icons/PencilIcon" />
                    </span>
                    <span>
                        <partial name="Shared/Icons/TrashIcon" />
                    </span>*@
                </td>
            </tr>
        }
    </tbody>
</table>